---
import { downloadData } from "../downloadData";

const downloadedData = await downloadData();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      downloadedData.map((data) => (
        <div>
          <h1>{data.name}</h1>
          {data.rotten_tomatoes_data ? (
            <div>
              <p>Critic Score: {data.rotten_tomatoes_data.critics?.score}</p>
              <p>Audience Score: {data.rotten_tomatoes_data.audience?.score}</p>
            </div>
          ) : (
            <p>No data</p>
          )}
        </div>
      ))
    }
  </body>
</html>
