---
import { mapDataForChart } from "../chart";
import DataTable from "../components/DataTable.astro";
import FootnoteRef from "../components/FootnoteRef.astro";
import { downloadData } from "../downloadData";

const downloadedData = await downloadData();
const chartData = mapDataForChart(downloadedData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container mx-auto">
      <DataTable downloadedData={downloadedData} />
      <FootnoteRef num={1}>Rotten Tomatoes</FootnoteRef>
      <FootnoteRef num={2}>Metacritic</FootnoteRef>
      <FootnoteRef num={3}>The Movie Database</FootnoteRef>
      <FootnoteRef num={4}
        >Calculated as the average of the Rotten Tomatoes (Scaled down to 0-10),
        Metacritic, and The Movie Database user scores. Missing values are
        excluded</FootnoteRef
      >
      <div id="chart"></div>
      <hr class="mt-12 mb-4" />
      <p class="text-sm text-slate-500">
        Doctor Who and all related trademarks and copyrights are the property of
        the BBC. This site is fan-made and not affiliated with or endorsed by
        the BBC.
      </p>
    </div>
    <script>
      import { setupChart } from "../chart";

      declare global {
        interface Window {
          setupChart: typeof setupChart;
        }
      }

      window.setupChart = setupChart;
    </script>
    <script is:inline define:vars={{ chartData }}>
      document.addEventListener("DOMContentLoaded", () => {
        window.setupChart(chartData, document.getElementById("chart"));
      });
    </script>
  </body>
</html>
