---
import FootnoteNum from "./FootnoteNum.astro";

type Props = {
  num: number;
};
---

<div id=`footnote-${Astro.props.num}` class="group">
  <div
    class="flex space-x-1 w-max group-target:bg-yellow-200 px-2 py-1 bg-inherit transition-colors duration-250"
  >
    <FootnoteNum num={Astro.props.num} />
    <span>
      <slot />
    </span>
  </div>
</div>
